@font-face {
    font-family: Fuzzy;
    src: url(../fonts/FuzzyBubbles-Regular.ttf);
}

@font-face {
    font-family: Fuzzy2;
    src: url(../fonts/FuzzyBubbles-Bold.ttf);
}

.lb1 {
    font-size: 19px;
    color: rgb(255, 254, 254);
    display: inline-block;
    width: 120px;
    height: 20px;
    border: 2px solid rgb(3, 2, 2);
    border-radius: 30%;
    position: absolute;
    margin-left: 115px;
    margin-top: 145px;
    background-color: rgb(67, 30, 233);
    padding: 5px;
}

.lblErro {
    position: absolute;
    display: inline-block;
    background-color: paleturquoise;
    margin-top: 145px;
    margin-left: 620px;
    font-size: 20px;
    width: 135px;
    height: 20px;
    border: 2px solid rgb(5, 3, 3);
    text-align: left;
    padding: 5px;
}

#LetrasErro {
    position: absolute;
    color: rgb(194, 12, 42);
    display: inline-block;
    border: 2px solid rgb(241, 217, 0);
    background-color: rgb(0, 0, 0);
    width: 280px;
    height: 30px;
    margin-top: 145px;
    margin-left: 790px;
}

.btn1 {
    color: gold;
    font-family: Fuzzy;
    border: 2px solid rgb(47, 93, 247);
    background-color: rgb(0, 0, 0);
    border-radius: 6%;
    position: absolute;
    height: 25px;
    top: 148px;
    left: 340px;
    cursor: pointer;
}

.btn2 {
    color: gold;
    font-family: Fuzzy;
    border: 2px solid rgb(223, 39, 39);
    background-color: rgb(0, 0, 0);
    border-radius: 6%;
    position: absolute;
    height: 22px;
    top: 150px;
    left: 420px;
    cursor: pointer;
}

.btn1:hover {
    color: cornsilk;
}

.btn2:hover {
    color: cornsilk;
}

#forca {
    position: absolute;
    display: block;
    margin-top: 261px;
    margin-left: 120px;
    width: 250px;
}

.autor {
    color: rgb(235, 192, 84);
    position: absolute;
    margin-left: 1080px;
    margin-top: 480px;
}

.tit2 {
    border: 2px solid black;
    border-radius: 2%;
    font-family: Fuzzy2;
    background-color: rgb(6, 22, 22);
    color: rgb(151, 151, 18);
    cursor: pointer;
    transition: 0.4s ease;
}

.tit2:hover {
    color: rgb(255, 145, 0);
    background-color: rgb(100, 100, 100);
}

.menu {
    position: absolute;
    margin-top: 15px;
    margin-left: 1200px;
    border: 1px solid gold;
    background-color: black;
    color: gold;
    text-decoration: none;
}

.voltar {
    position: absolute;
    font-size: 1.8rem;
    margin-top: 8px;
    margin-left: 1255px;
}

.voltar::after {
    content: "\21BA";
}